{% extends "base.html" %}







{% block title %}Entrez un nouveau mot de passe{% endblock %}

{% block banner %}
<div class="reset">

{% if validlink %}
<h1>Veuillez définir votre vouveau mot de passe </h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" id="mdp" value="Changer le mot de passe ">
</form>

{% else %}

<p>Le lien de rénitialisation du mot de passe n'est plus valide , veuillez refaire une demande de rénitialisation . </p>

{% endif %}
</div>
{% endblock %}