body{
 background-image: url(../images/pexels-pixabay-235721.jpg);
 

 }
.title1{
    font-family:inherit bold;
    font-size: 50px bold;
    font-language-override: initial;
    color:white;
    display: flex;
    justify-content:space-around;
    background-color: rgba(212, 81, 20, 0.747);

    
}
.searchbar{
    border-radius: 8px;
    border: 10px;
    color: black;
    size:20px;


}
.ab{
    font-size: 25px;
    color: white;

}
.px-3{
opacity: 90%;
}
.box{
    
   font-weight:10;
   margin-left: -10%;
   box-shadow: 20px 0px 30px black, -20px  0px 30px black;
   border-radius: 5%;
   font-family:inherit bold;
   margin-top: -18%;
   background-color: rgba(255, 255, 255, 0.801);

}
h2{
color:white;
display: flex;
justify-content:space-around;
background-color: rgba(112, 47, 17, 0.548);
}
#link{
    
    color: white;
    font-weight: 100px;
    text-decoration:none;
  
}
#link1{
    background-color: rgba(255, 248, 244, 0.644);
    box-shadow: 30px 0px 30px rgb(112, 57, 6), -30px  0px 30px rgb(112, 57, 6);
    font-family:inherit bold;
    border-radius: 5px;
    font-size: 50px bold;
    font-language-override: initial;
    color:rgb(82, 48, 48);
    font-size: 30px;
    text-decoration:none;
    margin-left: 22%;
    margin-bottom: 5%;
    

}

#city{
   
    color:rgb(82, 48, 48);
   

    margin-left: 5px;
}
#temps{
    color:rgb(82, 48, 48);
}
#jour{
    color:rgb(82, 48, 48);
}
#desc{
    color:rgb(82, 48, 48);
}

#icon{
    display: flex;
    float: right;
     margin-top: -90px;
     margin-right: 40px;

}