body{
 background-image: url(../images/pexels-pixabay-235721.jpg);
 /* background-image: url(../images/pexels-sindre-strøm-1175135.jpg); */
 }
 

 footer{
    background-color: black;
color: white; 
text-align: center;}
.title1{
    font-family:inherit bold;
    font-size: 50px bold;
    font-language-override: initial;
    color:white;
    display: flex;
    justify-content:space-around;
    background-color: rgba(212, 81, 20, 0.747);

    
}
#searchbar{
    border-radius: 8px;
    border: 1.5px solid ;
    color: rgba(88, 82, 82, 0.918);
    /* size:20px; */
    /* padding:0.5%; */
    margin-top: 10%;
    margin-left: 38%;
    /* margin-right: 20%; */


}
.ab{
    font-size: 20px;
    color: white;

}



.px-3{
opacity: 95%;
}
.box1{
    
  
   font-weight:10;
   box-shadow: 20px 0px 30px black, -20px  0px 30px black;
   font-family:inherit bold;
   margin-top: 4%;
   margin-right: 28%;
   margin-left:28%;
   padding:2%;
   background-color:rgba(255, 255, 255, 0.521);
   border-radius: 5%;

}
h2{
display: flex;
justify-content:space-around;
font-size: 5px;
color:rgb(90, 48, 48);

}
#link{
    
    color: white;
    text-decoration:none;
    padding:10px;

  
}

#link1{
    background-color: rgba(255, 248, 244, 0.644);
    box-shadow: 30px 0px 30px rgb(112, 57, 6), -30px  0px 30px rgb(112, 57, 6);
    font-family:inherit bold;
    border-radius: 5px;
    font-size: 50px bold;
    font-language-override: initial;
    color:rgb(82, 48, 48);
    font-size: 30px;
    text-decoration:none;
    margin-left: 22%;
    margin-bottom: 5%;
    

}

#city{
   
    color:rgb(82, 48, 48);

   

  
}
#temps{
    color:rgb(82, 48, 48);
}
#jour{
    color:rgb(82, 48, 48);
}
#desc{
    color:rgb(82, 48, 48);
}

#icon{
    display: flex;
    float: right;
     margin-top: -50px;
     margin-right: 30px;

}
#aboute{
 color:black;
 background-color: rgba(255, 154, 108, 0.76);
 margin-top: 5%;
 
    
}

 .section{
    display:flow-root;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 250px 10em;
 }   
.box{
    background-color:rgba(255, 255, 255, 0.774);
    border: solid rgba(7, 4, 2, 0.568) 5px;
    padding: 8px;
    font-weight:5px;
    text-align: center;
    margin-top: 30%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-shadow: 20px 0px 30px black, -0px  0px 30px black;
    border-radius: 5%;


      }
 
.title{
     background-color:rgba(255, 255, 255, 0.877);
    border: solid rgba(7, 4, 2, 0.658) 5px;
    text-align: center;
    font-size: 50px;
    font-family:inherit solid;
    box-shadow: 20px 0px 30px black, -20px  0px 30px black;
    color:rgb(82, 48, 48);
    border-radius: 20px;

}

.carousel-items {
    display: flex;
    overflow-x:scroll;
    padding: 3rem 0;
    scroll-snap-type: x mandatory;
}

.carousel-item1 {
    flex: 2 0 250px;
    margin-left: 2rem;
    scroll-snap-align:start;

}
#login
{
   margin-top: 5%;
   margin-right: 10%;
   margin-left: 10%;
    background-color:rgba(228, 158, 72, 0.952);
        border: solid rgba(7, 4, 2, 0.568) 5px;

  
   
}
/* 
p{
    padding-left: 5px;
   } */

