{% extends 'base.html' %}

{% block banner %}

   
<section>
    <div id="aboute" >
   
        <h1 class="cover-heading">A propos de MeteoApp.</h1>
        <p class="lead">Le projet MeteoApp est né dans le cadre de la formation SAS DEV IA par Simplon avec plusieurs objectifs. L’objectif premier est de créer un contexte dans lequel on pourra apprendre et progresser dans différents domaines abordés en cours. Les choses telles que Git et GitHub, le langage python, le framework Django font partie de la longue liste des choses qui ont été abordés et qui ont rendu l’élaboration d’un projet nécessaire à la mise en pratique du savoir acquis. L’objectif second était de créer une plateforme capable de requêter l’API de notre choix et présenter les informations pertinentes le tout via un site web fonctionnel.   </p>
            <br>
            <p> L’API que nous avons choisi est OpenWeather. C’est une API qui permet de faire des requêtes pour avoir des informations sur la météo d’une manière précise. OpenWeather possède un large éventail de choix quand il est question d’API. Parmi celles proposées nous avons choisi celle qui permet d’avoir la météo en temps réel et celle qui permet de faire une prévision sur 5 jours . MeteoApp  est un site qui peut permet de requêter API a OpenWeather API.
          
            Notre app vous propose la possibilité de consulter la météo immédiate dans la ville de votre
            choix ainsi que de consulter les prévisions futures sur 5 jours.
            </p>
            <br>
        <p class="lead">
            L'API OpenWeather permet d'acceder aux données meteo
            de plus de 200.000 villes. Elle collecte et traite les données météo
            de différentes sources tels que des modèles globaux et locaux, des satellites, radars
            et d'un réseau étendu de stations météorologiques.
        </p>
   
    </div>
  </section>
  

    {% endblock banner %}





