{% extends 'base.html' %}

{% block banner %}

   
<section>
    <div id="aboute" >
   
        <h1 class="cover-heading">A propos de MeteoApp.</h1>
        <p class="lead">Le projet MeteoApp est née dans le cadre du SAS Formation IA.
            MeteoApp est un site qui peut permet de requêter API a OpenWeather API.
            Notre app vous propose la possibilité de consulter la météo immédiate dans la ville de votre
            choix ainsi que de consulter les prévisions futures sur 5 jours.
            </p>
            <br>
        <p class="lead">
            L'API OpenWeather permet d'acceder aux données meteo
            de plus de 200.000 villes. Elle collecte et traite les données météo
            de différentes sources tels que des modèles globaux et locaux, des satellites, radars
            et d'un réseau étendu de stations météorologiques.
        </p>
   
    </div>
  </section>
  

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    {% endblock banner %}





