{% extends 'base.html' %}
{% load static %}


{% block banner %}   
                <h1 class="title1">
                   Quel Temps Fait-il Aujourd'hui ?
                </h1>       
      
    <section >
        <div class="container">
            <div class="columns">
                <span class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}  
                        {% comment %} {{form.name}} {% endcomment %}
                        {% comment %} <button id='searchbar' class ="btn btn-dark" type='submit' width >le nom de ville </button>   {% endcomment %}
                        <input id='searchbar' class='navbar navbar-light bg-light' type="text" placeholder="city name" name='city' />

                    </form>
                </span>
            </div>
        </div>
   </section>
   
    <section class="section">
        <div class="container">
            <div class="rows">
                <div class="column is-offset-4 is-4">
                  
                    <div class="box1" ><a href="./previsions/"></a>
                        <article class="media">
                            <div class="media-left">
                            </div>
                            <div class="media-content">
                                <div class="content">
                                  
                                    <p>
                                    <h1  id='city' >{{city}}</h1>
                                    <img id= 'icon' src="http://openweathermap.org/img/w/{{icon}}.png" width='150px'>
                                    <h1 id="temps">{{temp}}°C</h1>
                                    <h1 id="desc">{{description}}</h1>
                                    <h1 id="jour">{{day}}</h1> 
                                    
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div><br><br>
        <div>
          <a id="link1" class="clignote" href="{% url 'previsions' %}"> Veuillez cliquer ici pour voir les prévisions des 5 prochains jours  </a>

        </div>
    </section> 
 
  {% endblock banner%}

 


