{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    {% comment %} <link rel="stylesheet" href="{% static'style.css' %}" /> {% endcomment %}
    <img src="{% static 'static/images/image.jpg' %}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
  
    
</head>
<body>  
{% comment %} <form method="POST">
    {% csrf_token %}

    <input type="text" placeholder="city name" name='city' />
    <button type='submit'>entrer</button>
</form>

    </h1>{{description}}</14>
    <h1>{{temp}}</h1>
    <h1>{{day}}</h1> 
    <h1>{{city}}</h1>
    <img src="http://openweathermap.org/img/w/{{icon}}.png" width='100px'>  {% endcomment %}
   

<section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}  
                                <input class="control is-expanded" type="text" placeholder="city name" name='city' />

                                <button type='submit'>Add City</button>
                            
                    </form>
                </div>
            </div>
        </div>
   </section>
    <section class="section">
        <div class="container">
            <div class="rows">
                <div class="column is-offset-4 is-4">
                  
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                             
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                    </h1 class="title" >{{city}}</h1>
                                    <h1>{{temp}}</h1>
                                    <h1>{{day}}</h1> 
                                    <h1>{{description}}</h1>
                                    <img src="http://openweathermap.org/img/w/{{icon}}.png" width='100px'>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                   
                </div>
            </div>
        </div>
    </section> 
  <footer class="footer">
  </footer> 
</body>
</html>

