{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />

</head>
<body>
    
    {% block banner %}
    <section class="section">
        <div class="container">
            <div class="rows">
                <div class="column is-offset-4 is-4">
                  
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <h1 class="title" >{{city}}</h1>
                                        <h1>{{temp0}}°C</h1>
                                        <h1>{{ressenti0}}</h1> 
                                        <h1>{{dt0}}</h1>
                                        <h1>{{wind0}}</h1>
                                        <h1>{{description0}}</h1>
                                        <img src="http://openweathermap.org/img/w/{{icon}}.png" width='100px'>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                   
                </div>
            </div>
        </div>
    </section> 
    <section class="section">
        <div class="container">
            <div class="rows">
                <div class="column is-offset-4 is-4">
                  
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <h1 class="title" >{{city}}</h1>
                                        <h1>{{temp10}}°C</h1>
                                        <h1>{{ressenti10}}</h1> 
                                        <h1>{{dt10}}</h1>
                                        <h1>{{wind10}}</h1>
                                        <h1>{{description10}}</h1>
                                        <img src="http://openweathermap.org/img/w/{{icon}}.png" width='100px'>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                   
                </div>
            </div>
        </div>
    </section> 
    <section class="section">
        <div class="container">
            <div class="rows">
                <div class="column is-offset-4 is-4">
                  
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <h1 class="title" >{{city}}</h1>
                                        <h1>{{temp15}}°C</h1>
                                        <h1>{{ressenti15}}</h1> 
                                        <h1>{{dt15}}</h1>
                                        <h1>{{wind15}}</h1>
                                        <h1>{{description15}}</h1>
                                        <img src="http://openweathermap.org/img/w/{{icon}}.png" width='100px'>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                   
                </div>
            </div>
        </div>
    </section> 
    <section class="section">
        <div class="container">
            <div class="rows">
                <div class="column is-offset-4 is-4">
                  
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <h1 class="title" >{{city}}</h1>
                                        <h1>{{temp20}}°C</h1>
                                        <h1>{{ressenti20}}</h1> 
                                        <h1>{{dt20}}</h1>
                                        <h1>{{wind20}}</h1>
                                        <h1>{{description20}}</h1>
                                        <img src="http://openweathermap.org/img/w/{{icon}}.png" width='100px'>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                   
                </div>
            </div>
        </div>
    </section> 
    <section class="section">
        <div class="container">
            <div class="rows">
                <div class="column is-offset-4 is-4">
                  
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <h1 class="title" >{{city}}</h1>
                                        <h1>{{temp30}}°C</h1>
                                        <h1>{{ressenti30}}</h1> 
                                        <h1>{{dt30}}</h1>
                                        <h1>{{wind30}}</h1>
                                        <h1>{{description30}}</h1>
                                        <img src="http://openweathermap.org/img/w/{{icon}}.png" width='100px'>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                   
                </div>
            </div>
        </div>
    </section> 
    <section class="section">
        <div class="container">
            <div class="rows">
                <div class="column is-offset-4 is-4">
                  
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>    
                                        <h1 class="title" >{{city}}</h1>
                                        <h1>{{temp39}}°C</h1>
                                        <h1>{{ressenti39}}</h1> 
                                        <h1>{{dt39}}</h1>
                                        <h1>{{wind39}}</h1>
                                        <h1>{{description39}}</h1>
                                        <img src="http://openweathermap.org/img/w/{{icon}}.png" width='100px'>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                   
                </div>
            </div>
        </div>
    </section> 
<footer>
<br>
<br>
<br>
<br>
</footer>
</body>
{% endblock banner %}

