{% extends 'base.html' %}


    
    {% block banner %}
<section>
    <main class='container'> 
        <br><br>
            <h1 class="title">{{city}}</h1>
            
        <section class="carousel">
        <ul class="carousel-items">
                    <li class="carousel-item1">
                        <div class="card1">
                                                <div class="box"  >

                                                                        <p>
                                                                        <img src="http://openweathermap.org/img/w/{{icon0}}.png" width='50px'>
                                                                            <h2>{{temp0}}°C</h2>
                                                                            <h2>{{wind0}}km/h</h2>
                                                                            <h2>{{description0}}</h2>
                                                                            <h2>{{dt0}}</h2>

                                                                        </p>
                                                </div>   
                        </div>
                </li>                          
                <li class="carousel-item1">
                    <div class="card1">
                                                <div class="box">   
                                                                        <p>
                                                                            <img src="http://openweathermap.org/img/w/{{icon10}}.png" width='50px'>
                                                                            <h2>{{temp10}}°C</h2>
                                                                            <h2>{{wind10}}km/h</h2>
                                                                            <h2>{{description10}}</h2>
                                                                            <h2>{{dt10}}</h2>

                                                                        </p>
                                                </div> 
                        
                </li> 
                <li class="carousel-item1">
                    <div class="card1">
                                                <div class="box">   
                                                                    <p>
                                                                        <img  src="http://openweathermap.org/img/w/{{icon15}}.png" width='50px'>
                                                                        <h2>{{temp15}}°C</h2>
                                                                        <h2>{{wind15}}km/h</h2>
                                                                        <h2>{{description15}}</h2>
                                                                        <h2>{{dt15}}</h2>
                                                                    </p>
                                                </div>  
                                            
                    </div>
                </li> 
                <li class="carousel-item1">
                    <div class="card1">     
                                                <div class="box">   
                                                                    <p>
                                                                            <img  src="http://openweathermap.org/img/w/{{icon20}}.png" width='50px'>
                                                                            <h2 >{{temp20}}°C</h2>
                                                                            <h2 >{{wind20}}km/h</h2>
                                                                            <h2 >{{description20}}</h2>
                                                                            <h2 >{{dt20}}</h2>

                                                                    </p>
                                                </div>
                    </div>
                </li>
                <li class="carousel-item1">
                    <div class="card1">    
                                                <div class="box">

                                                                    <p>
                                                                        <img  src="http://openweathermap.org/img/w/{{icon30}}.png" width='50px'>
                                                                        <h2>{{temp30}}°C</h2>
                                                                        <h2>{{wind30}}km/h</h2>
                                                                        <h2>{{description30}}</h2>
                                                                        <h2>{{dt30}}</h2>

                                                                    </p>
                                                </div> 
                        </div>
                </li>   
                <li class="carousel-item1">
                        <div class="card1">                          
                                                <div class="box">      
                                                                    <p>    
                                                                        <img src="http://openweathermap.org/img/w/{{icon39}}.png" width='50px'>
                                                                        <h2>{{temp39}}°C</h2>
                                                                        <h2>{{wind39}}km/h</h2>
                                                                        <h2>{{description39}}</h2>
                                                                        <h2>{{dt39}}</h2>
                                                                    </p>
                                                </div> 
                            </div>
                </li>  
    </ul>    
        <br><br><br><br><br>
    </main>
</section>   
  {% endblock banner %}



